leelaz
*.exe
*.o
*.d
*.gz
*.dll
bsk_config*.txt
report.txt
checkpoint
kgsGtp.jar
.vscode/settings.json
training/tf_v2
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
training/tf/engine1
training/tf/engine2
autogtp/*/
datasets*.zip
leelaz-model*
train.sgf
*.orig
leelaz_opencl_tuning
sai_opencl_tuning
/build-autogtp-*
/build-validation-*
.vs/
.vscode/
build/

*~
train_*
__pycache__/
